//?fonts
@font-face { font-family: roboto-regular;
  src: url('../../../assets/fonts/Cormorant/CormorantGaramond-Italic.ttf');
}
@font-face { font-family: roboto-light;
  src: url('../../../assets/fonts/Cormorant/CormorantGaramond-Regular.ttf');
}

//?scss
.set-footer-bottom{
  width: 100%;
}

.footer-container-main{
  background: #000000;
  overflow: hidden;

  & h3 {
    font: 1.68em "roboto-regular";
  }
  & .social-network > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
}
.icons-styles{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  padding: 5px;
  border-radius: 50%;
  font-size: 60px;
  color: #fff;
  transition: 0.5s ease;
}
.icons-styles:hover{
  font-size: 50px;
  color: #01FFF4;
  box-shadow: 0 0 40px #01FFF4;
}


@media screen and (max-width: 700px) {
  .footer-container-main {
    flex-flow: column;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }
  .backTo_Top {
    top: 17em;
  }
}
