.read {
  margin: 5em;


  & .read-back-btn {
    text-align: end;
    width: 25%;
  }
}

.container-article {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.article-data {


  & img {
    width: 500px;
    height: auto;
  }
}

.article-content {
  justify-content: center;
  display: flex;
  margin: 20px;
  text-align: center;

  & p {
    width: 50%;
  }
}


.add-line {
  width: 100%;
  height: 5px;
}

//!Card Start
article {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 20px auto;
  width: 80%;
  max-width: 1000px;
  height: auto;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition for smooth effect */
}

article:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More prominent shadow */
  transform: scale(1.02); /* Slightly scale up */
}

.article-image-container {
  width: 30%;
  height: auto;
  margin: 16px;
  overflow: hidden;
}

.article-image-container img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding: 0 15px;
}

.content-container .article-title {
  text-align: center;
  padding: 15px 0;
  margin: 0;
  font-size: 24px;
  color: #333;
  border-bottom: 2px solid #eee;
}

.content-container .article-content {
  overflow: hidden;
  text-align: justify;
  color: #666;
}

.read-more-btn {
  position: absolute;
  bottom: 7px;
  right: 7px;
  padding: 8px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  border-radius: 5px;
}

.read-more-btn:hover {
  background-color: #4CAF50;
  color: black;
  border-radius: 30px;
}

//!Card End
