@font-face {
  font-family: roboto-regular;
  src: url('../../../assets/fonts/Cormorant/CormorantGaramond-Italic.ttf');
}

@font-face {
  font-family: roboto-light;
  src: url('../../../assets/fonts/Cormorant/CormorantGaramond-Regular.ttf');
}
.bgr-page-skills {
  background: url("../../../assets/images/bgr-skill-page.jpg");
  width: 100%;
  height: 100%;
  background-size: contain;
}

.how-can-help {
  font-family: 'roboto-regular', sans-serif;
}

.skills-page {
  background-color: #000000;
}

.section {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 10em;
  left: 10em;
}

.wall {
  display: flex;
}

.v-boxes {
  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    margin-left: -75px;
  }
}

.second {
  margin-top: 75px;
}
.rotate-skills{
  transform: rotate(270deg);
}
.third {
  margin-top: 150px;
}

.forth {
  margin-top: 225px;
}

.box {
  width: 100px;
  height: 100px;
  -webkit-transform:  rotate(135deg);
  -ms-transform:  rotate(135deg);
  -moz-transform:  rotate(135deg);
  transform: rotate(135deg);
  margin: 25px;
  cursor: pointer;

  &:hover {
    &:not(.link) > .box-face, > .box-back {
      transform: translateZ(100px) rotateX(180deg);
      background-color: transparent !important;
    }

    &:not(.link) > .box-face > .box-text {
      opacity: 0;
    }

    & .tooltip {
      visibility: visible;
      opacity: 1;
    }

    &.link > .box-face {
      background-color: transparent !important;

      & > .box-text {
        color: #323232;
      }
    }
  }

  &.link {
    & > .box-face {
      background-color: #323232;
      border: 1px solid #323232;
      box-sizing: border-box;
      transition: background-color .5s;
    }

    & .box-text {
      color: #efefef;
      transition: color .5s;
    }
  }
}

.box-face, .box-back {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100px;
  height: 100px;
  background-color: #dedede;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserver-3d;
  transition: transform 1s, background-color 0s .3s;
}

.box-face .box-text {
  line-height: 100px;
  text-align: center;
  font-size: 40px;
  color: #bababa;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
  transition: opacity 0s linear .3s;
}

.box-back .box-text {
  line-height: 100px;
  text-align: center;
  font-size: 12px;
  color: #636363;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-135deg) rotateY(180deg);
  transition: opacity 0s linear .3s;
}

.box-back {
  z-index: 0;
  background-image: linear-gradient(#fff, #efefef);
}

.box-text img {
  max-width: 32px;
  max-height: 32px;
  -webkit-filter: grayscale(100%) saturate(0);
  filter: grayscale(100%) saturate(0);
  opacity: .5;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 35px;
  width: 80px;
  font-size: 13px;
  color: #000;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, .8);
  padding: 5px 0;
  z-index: 1000;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: visibility 0s linear .3s, opacity 1s linear .3s;
}

.tooltip:after {
  position: absolute;
  top: -5px;
  left: 35px;
  content: ' ';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.svg-css {
  width: 30px;
  height: 30px;
  position: relative;
  transform: translate(11px, -30px);
}

.svg-scss {
  width: 50px;
  height: 50px;
  position: relative;
  transform: translate(7px, -18px);
}

.svg-gulp {
  width: 30px;
  height: 30px;
  position: relative;
  transform: translate(7px, -38px);
}

.svg-angular {
  width: 30px;
  height: 30px;
  position: relative;
  transform: translate(10px, -25px);
}

.svg-angular-js {
  position: relative;
  transform: translate(-9px, -21px);

  & img {
    max-width: 72px;
    max-height: 72px;
  }
}

.svg-react {
  width: 50px;
  height: 50px;
  position: relative;
  transform: translate(10px, -16px);
}

.svg-docker {
  width: 50px;
  height: 50px;
  position: relative;
  transform: translate(10px, -16px);
}

.svg-js {
  width: 50px;
  height: 50px;
  position: relative;
  transform: translate(-2px, -31px);

  & svg {
    width: 60px;
    height: 60px;
  }
}

.svg-rxjs {
  position: relative;
  transform: translate(10px, -25px);
}

.svg-node {
  position: relative;
  width: 50px;
  height: 50px;
  transform: translate(10px, -7px);
}

.svg-express {
  position: relative;
  transform: translate(-3px, -31px);

  & img {
    max-width: 52px;
    max-height: 52px;
  }
}

.svg-dbeaver {
  position: relative;
  transform: translate(6px, -21px);

  & img {
    max-width: 52px;
    max-height: 52px;
  }
}

.section-5 {
  position: relative;
  bottom: 75px;
}

.section-6 {
  position: relative;
  bottom: 151px;
}

