.container-login-page {
  background: url("https://images.unsplash.com/photo-1504660069764-2b37e279874a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center/cover;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container-login {
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  height: 90dvh;
  opacity: 0.8;
}

.form-container-login form {
  background: rgba(45, 52, 54, 1.0);
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  width: 400px;
  height: 90dvh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-container-login {
  margin: 10px 0;
}

.social-container-login a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}


.form-container-login input {
  background: #eee;
  border: none;
  padding: 5px 15px;
  margin: 0px 0;
  width: 100%;
}

.btn-login-page {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff4b2b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.login-input input[type=text] {
  width: 240px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: 'PLay', sans-serif;
  font-size: 16px;
  padding: 0px 0;
  transition: border 0.5s;
  outline: none;
  color: #fff;
  font-weight: bold;
}

.login-input input[type=password] {
  width: 240px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: 'PLay', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 0;
  transition: border 0.5s;
  outline: none;
  color: #fff;
}

.login-input input[type=email] {
  width: 240px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: 'PLay', sans-serif;
  font-size: 16px;
  padding: 0px 0;
  transition: border 0.5s;
  outline: none;
  color: #fff;
  font-weight: bold;
}

.btn-login-page:active {
  transform: scale(0.95);
}

.btn-login-page:focus {
  outline: none;
}

.btn-login-page.ghost {
  border-color: #ff4b2b;
}

.form-container-login {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container-login {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container-login {
  left: 0;
  width: 0%;
  z-index: 1;
  opacity: 0;
}

.overlay-container-login {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: transparent;
  background: linear-gradient(to right, #ff4b2b, #ff416c) no repeat 0 0 /cover;
  color: #fff;
  position: absolute;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
}

/*....Animation....*/

/*....Move signin to the right....*/
.container-login.right-panel-active .sign-in-container-login {
  transform: translateX(100%);
}

/*....Move overlay to the left....*/
.container-login.right-panel-active .overlay-container-login {
  transform: translateX(-100%);
}

/*....Bring sign up over sign in....*/
.container-login.right-panel-active .sign-up-container-login {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/*...Move overlay back to right....*/
.container-login.right-panel-active .overlay {
  transform: translateX(50%);
}

.container-login.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container-login.right-panel-active .overlay-right {
  transform: translateX(20%);
}
.google-size{
  width: 24px;
  height: 24px;
}
.hello-friend-btn{
  color: #ffffff;
  background: #ff4b2b !important;
}
//media queries
