
.bgr-gray {
  background: rgba(89, 228, 230, 1.0) !important;
  background: linear-gradient(135deg, rgba(89, 228, 230, 1.0), rgba(22, 183, 119, 1.0)) !important;
}

.add-position-relative {
  margin-top: calc(10vh - 4vh);
  background-color: white;
}

.add-height-section {
  height: 100%;
  overflow: auto;
}

.contacts-page {
  & .contacts-nav {
    background-color: #000000;
  }
}

.color-orange-text {
  color: orangered;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .add-position-relative {
    margin: calc(10vw - 8vw);
  }
}


@media screen and (max-width: 375px) {
  .small-devices {
    flex-flow: column !important;
  }

}
