
.gray-bgr {
  width: 100%;
  background-color: #948c8c2e;
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.add-position-relative {
  margin-top: calc(10vh - 4vh);
  background-color: white;
}

.add-height-section {
  height: 100%;
  background-color: #e2e0e0;
  overflow: auto;
}

.contacts-page {
  & .contacts-nav {
    background-color: #000000;
  }
}

.color-orange-text {
  color: orangered;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .add-position-relative {
    margin: calc(10vw - 8vw);
  }
}


@media screen and (max-width: 375px) {
  .small-devices {
    flex-flow: column !important;
  }

}
