.timeline-page {
  & .timeline-nav {
    background-color: #000000;
  }
}

.time-line-header {
  text-align: center;
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: var(--margin) auto;
  position: relative;
  height: calc(100vh - 20vh);
  overflow: auto;

  &__event {
    position: relative;
    display: flex;
    margin: var(--spacing) 0;
    border-radius: var(--bdrs);
    align-self: center;
    width: 50vw;

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;

      .timeline__event__date {
        border-radius: 0 var(--bdrs) var(--bdrs) 0;
      }

      .timeline__event__content {
        border-radius: var(--bdrs) 0 0 var(--bdrs);
      }

      .timeline__event__icon {
        &:before {
          content: "";
          width: 2px;
          height: 100%;
          background: var(--color2);
          position: absolute;
          top: 0%;
          left: 50%;
          right: auto;
          z-index: -1;
          transform: translateX(-50%);
          animation: fillTop 2s forwards 4s ease-in-out;
        }

        &:after {
          content: "";
          width: 100%;
          height: 2px;
          background: var(--color2);
          position: absolute;
          right: 0;
          z-index: -1;
          top: 50%;
          left: auto;
          transform: translateY(-50%);
          animation: fillLeft 2s forwards 4s ease-in-out;
        }
      }
    }

    &__title {
      font-size: 1.2rem;
      line-height: 1.4;
      text-transform: uppercase;

      //font-weight: 600;
      color: var(--color1);
      letter-spacing: 1.5px;
    }

    &__content {
      padding: var(--spacing);
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      background: #fff;
      width: var(--content-width);
      border-radius: 0 var(--bdrs) var(--bdrs) 0;
    }

    &__date {
      color: var(--color2);
      font-size: 1.5rem;
      //font-weight: 600;
      background: var(--color1);
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      padding: 0 var(--spacing);
      border-radius: var(--bdrs) 0 0 var(--bdrs);
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color1);
      padding: 40px;
      align-self: center;
      margin: 0 var(--spacing);
      background: var(--color2);
      border-radius: var(--bdrs-icon);
      width: var(--circle-size);
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      height: var(--circle-size);
      position: relative;
      i {
        font-size: var(--icon-size);
      }

      &:before {
        content: "";
        width: 2px;
        height: 100%;
        background: var(--color2);
        position: absolute;
        top: 0%;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        animation: fillTop 2s forwards 4s ease-in-out;
      }

      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background: var(--color2);
        position: absolute;
        left: 0%;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        animation: fillLeftOdd 2s forwards 4s ease-in-out;
      }
    }

    &__description {
      flex-basis: 60%;
    }

    &--type2 {
      &:after {
        background: var(--color4);
      }

      .timeline__event__date {
        color: var(--color3);
        background: var(--color4);
      }

      &:nth-child(2n + 1) {
        .timeline__event__icon {
          &:before,
          &:after {
            background: var(--color3);
          }
        }
      }

      .timeline__event__icon {
        background: var(--color3);
        color: var(--color4);

        &:before,
        &:after {
          background: var(--color3);
        }
      }

      .timeline__event__title {
        color: var(--color4);
      }

      .timeline__event__title {
      }
    }

    &--type3 {
      &:after {
        background: var(--color5);
      }

      .timeline__event__date {
        color: var(--color6);
        background-color: var(--color5);
      }

      &:nth-child(2n + 1) {
        .timeline__event__icon {
          &:before,
          &:after {
            background: var(--color6);
          }
        }
      }

      .timeline__event__icon {
        background: var(--color6);
        color: var(--color5);

        &:before,
        &:after {
          background: var(--color6);
        }
      }

      .timeline__event__title {
        color: var(--color5);
      }

      .timeline__event__title {
      }
    }

    &:last-child {
      .timeline__event__icon {
        &:before {
          content: none;
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;

    &__content {
      width: 100%;
    }

    &__icon {
      border-radius: var(--bdrs) var(--bdrs) 0 0;
      width: 100%;
      margin: 0;
      box-shadow: none;

      &:before,
      &:after {
        display: none;
      }
    }

    &__date {
      border-radius: 0;
      padding: var(--spacing);
    }

    &:nth-child(2n + 1) {
      flex-direction: column;
      align-self: center;

      .timeline__event__date {
        border-radius: 0;
        padding: var(--spacing);
      }

      .timeline__event__icon {
        border-radius: var(--bdrs) var(--bdrs) 0 0;
        margin: 0;
      }
    }
  }
}

.geodesy-icon {
  position: relative;
  width: 24px;
  height: 24px;
  transform: translate(0px, 0px);
  max-width: none;
}
.aviation-icon {
  position: relative;
  width: 24px;
  height: 24px;
  transform: translate(0px, 0px);
  max-width: none;
}
.coding-icon {
  position: relative;
  width: 24px;
  height: 24px;
  transform: translate(0px, 0px);
  max-width: none;
}


@keyframes fillLeft {
  100% {
    right: 100%;
  }
}

@keyframes fillTop {
  100% {
    top: 100%;
  }
}

@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}
