
@font-face { font-family: roboto-regular;
  src: url('../../../assets/fonts/Cormorant/CormorantGaramond-Italic.ttf'); }
@font-face { font-family: roboto-light;
  src: url('../../../assets/fonts/Cormorant/CormorantGaramond-Regular.ttf'); }

.navigation{
  display: flex;
  z-index: 9;
  background-color: #000000;
  top: 1em;
  list-style-type: none;
  & li a {
    color: white;
    font: 1.2em "roboto-regular";
    text-decoration: none;
  }

  & .text-1 {
    flex-basis: 10%;
    margin: 15px;
  }
  & .text-2 {
    flex-basis: 10%;
    margin: 15px;
  }
  & .text-3 {
    flex-basis: 10%;
    margin: 15px;
  }
  & .text-4 {
    flex-basis: 10%;
    margin: 15px;
  }
  & .text-5 {
    flex-basis: 10%;
    margin: 15px;
  }
  & .text-6 {
    flex-basis: 10%;
    margin: 15px;
  }
}

.text-1 a:hover{
  color: crimson;
}
.text-2 a:hover{
  color: crimson;
}
.text-2:hover:after{
  width: 35%;
  transition: width .5s;
}
.white{
  color: white !important;
}
.text-3 a:hover{
  color: crimson;
}
.text-4 a:hover{
  color: crimson;
}
.text-5 a:hover{
  color: crimson;
}
.text-6 a:hover{
  color: crimson;
}
.my-logo{
  position: absolute;
  left: 20em;
  top: 3em;
  & .logo-images{
    background-image: url("../../../assets/images/Logo/DD.svg");
    background-repeat: no-repeat;
    width: 50%;
    height: 72%;
    position: absolute;
    bottom: 2em;
    left: 9em;
  }
}
 .my-logo p {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.my-logo p span {
  color: crimson;
  transition: all 0.3s ease;
}
.sticky .my-logo p span {
  color: var(--color-lio, crimson);
}


.second {
  font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
}
