
.navigation {
  display: flex;
  z-index: 9;
  background-color: #000000;
  list-style-type: none;

  & li a {
    color: white;
    //font-family: "roboto-regular", sans-serif;
    text-decoration: none;
  }
}

.text-2:hover:after {
  width: 35%;
  transition: width .5s;
}

.white {
  color: white !important;
}

.text-1 a:hover {
  color: crimson;
}

.text-2 a:hover {
  color: crimson;
}

.text-3 a:hover {
  color: crimson;
}

.text-4 a:hover {
  color: crimson;
}

.text-5 a:hover {
  color: crimson;
}

.text-6 a:hover {
  color: crimson;
}

.text-7 a:hover {
  color: crimson;
}

.text-8 a:hover {
  color: crimson;
}


.sticky .my-logo p span {
  color: var(--color-lio, crimson);
}


.second {
  font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
}

//test
.addP {
  color: red;
  top: 5em;
  right: 5em;
  position: absolute;
}
