.social-share {
  position: absolute;
  right: 27em;
  top: 16.7em;
  text-align: justify;
}

.social-icons a {
  display: flex;
  background: #e3edf7;
  height: 75px;
  width: 75px;
  margin: 15px 15px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  transition: transform 0.5s;
}

.social-icons a i {
  font-size: 50px;
  color: #777;
  transition: transform 0.5s;
}

.social-icons a:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
  inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
  -0.5px -0.5px 0px rgba(255, 255, 255, 1),
  0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.01);
  transform: translateY(2px);
}

.social-icons a:hover i {
  transform: scale(0.9);
}

.social-icons a:hover .fa-facebook {
  color: #3b5998;
}

.social-icons a:hover .fa-twitter {
  color: #00acee;
}

.social-icons a:hover .fa-github {
  color: #000000;
}

.social-icons a:hover .fa-instagram {
  color: #f14843;
}

.social-icons a:hover .fa-linkedin-in {
  color: #3b5998;
}
@media (max-width: 440px ) {
  .social-share {
    position: absolute;
    bottom: 4em;
    right: 4em;
    top: 12.6em;
    text-align: justify;
    /* z-index: 5555; */
    display: flex;
    align-items: baseline;
    flex-direction: row;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    & a {
      width: 40px;
      height: 40px;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}
@media (max-width: 393px) {
  .social-share {
    right: 3em;
  }
}
@media (max-width: 390px) {
  .social-share {
    right: 3em;
  }
}
@media (max-width: 360px) {
  .social-share {
    right: 2em;
  }
}