* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}


.nav-bar {
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: red;
  width: 100%;
}
