
:root {
  --sizing-fs-base: 12px;
  --sizing-ws-base: 1.5em;
  --sizing-lt-base: 3em;

  --sizing-fs-tablet: 14px;
  --sizing-fs-phone: 1em;
  --sizing-fs-laptop: 16px;
  //--sizing-fs-desktop: 18px;
  //--sizing-fs-huge: 20px;

  --color-main-bgrd: #FFF;
  --color-main-text: #000;
  --color-main-link: #900;

  --color-basic-border: #000;

  --sizing-basic-border: 1px;
  // Variables blog scss
  --background-color: #16384c;
  --card-background-color: #fff;
  --text-color: #111;
  --card-transition: 0.5s ease-in-out;

  --hue: 223;
  --bg: hsl(var(--hue), 10%, 5%);
  --fg: hsl(var(--hue), 10%, 95%);
  --dot-a: 313;
  --dot-b: 253;
  --dot-c: 223;
  --dot-d: 283;
  --trans-dur: 0.3s;

  --background: #fafbff;
  --button-width: 100%;
  --border-radius: 5px;
  --btn-color: #dd7e2a;
  //images for about page
  --about-img-1: url('../../assets/images/book.jpeg');
  --about-img-2: url('../../assets/images/front-end-work.jpg');
  --about-img-3: url('../../assets/images/my-finance.jpeg');
  //cardAquariums scss
  --color_white: #fff;
  --color_prime: #5ad67d;
  --color_grey: #e2e2e2;
  --color_grey_dark: #a2a2a2;

  //my timeline

  --content-width: calc(45vw - 84px);
  --margin: 20px;
  --spacing: 20px;
  --bdrs: 6px;
  --circle-size: 40px;
  --icon-size: 32px;
  --bdrs-icon: 100%;

  --color1: #9251ac;
  --color2: #f6a4ec;

  --color3: #87bbfe;
  --color4: #555ac0;

  --color5: #24b47e;
  --color6: #aff1b6;

  --color-bg: #FDF1F2;
  --color-heart: #EA442B;
  --color-heartBGR: #2BEAD4FF;
  --easing: cubic-bezier(.7, 0, .3, 1);
  --duration: .5s;
  --i: 1;
  --color: #25CB25FF;
  --totalParticles: 6;

  //@font-face {
  //  font-family: roboto-regular;
  //  src: url('../../assets/fonts/Cormorant/CormorantGaramond-Italic.ttf');
  //}
  //
  //@font-face {
  //  font-family: roboto-light;
  //  src: url('../../assets/fonts/Cormorant/CormorantGaramond-Regular.ttf');
  //}

  //project page
  //@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

}
