
:root {
  --sizing-fs-base: 12px;
  --sizing-ws-base: 1.5em;
  --sizing-lt-base: 3em;

  --sizing-fs-tablet: 14px;
  --sizing-fs-phone: 1em;
  --sizing-fs-laptop: 16px;
  //--sizing-fs-desktop: 18px;
  //--sizing-fs-huge: 20px;

  --color-main-bgrd: #FFF;
  --color-main-text: #000;
  --color-main-link: #900;

  --color-basic-border: #000;

  --sizing-basic-border: 1px;
}
