.slick-slider {
  width: 100%;
  overflow: hidden;
}
.slick-track{
  display: flex;
  height: 370px;
  flex-flow: row;
  align-items: center;
}
.slick-list {
  position: relative;
  display: block !important;
  width: 100%;
}
.slick-slide div {
  width: auto;
  margin-right: 10px;
}
.slick-slide img {
  width: calc(100% - 30px) !important;
  margin: 1em;
}

.slick-slide .slick-cloned {
  width: 369px !important;
}

/* For the demo */
.slick-prev,
.slick-next {
  z-index: 999 !important;
}
.slick-prev {
  left: 25px !important;
}
.slick-next {
  right: 25px !important;
}
.slick-dots {
  display: flex !important;
}


.card {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  background-color: #eee;
  color: #555;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

  scroll-snap-align: center;

  animation-name: scale;
  animation-duration: 1ms;
  animation-direction: alternate;
  animation-timeline: view(x 0% 20%);
  animation-timing-funciton: linear;
  animation-fill-mode: both;
}


.services-li-font-size li{

}

@media  screen and (width: 450px) {
  .services-li-font-size li{
  
  }
}